{% extends "layout.html" %}

{% block content %}
<div id="fullscreen-countdown" class="fullscreen-countdown">
    <div class="countdown-number" id="countdown-number">5</div>
    <div class="countdown-text">Get Ready!</div>
    <div class="countdown-text">We'll notify you when there's a posture misalignment.</div>
    
    <!-- Hidden redirect information -->
    <input type="hidden" id="redirect-url" value="{{ redirect_url }}">
</div>

<!-- Load the script last -->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}